body {
    
}

#main {
    margin-top: 60px;
    margin-left: 20px;
}

@media (max-width: 480px) {
    #main {
        margin-top: 20px;
        margin-left: 0px;
    }
}

/* Append "*" to required fields */
[data-val-required] ~ .field-validation-valid:before {
    color: red;
    content : "*";
}

.no-required-mark:before {
    content : "" !important;
}

.field-validation-error {
    color: red;
}

.profile {
    margin-bottom: 0;
    display: inline-block;
    float: none !important;
    font-size: 1.5em;
}

.profile a {
    text-decoration: none !important;
}

.profile-name {
    margin-left: 20px;
}

.logout-hint {
    margin-bottom: 20px;
    font-style: italic;
    float: none !important;
}