@{
    ViewBag.Title = "Test";
}

<h2>@WebResources.CharacteristicDescription</h2>
<p><button class="btn">Click me!</button></p>
<p><button class="btn btn-info">No, click me!</button></p>
<div class="alert alert-block">
  <a class="close" data-dismiss="alert" href="#">×</a>
  <h4 class="alert-heading">Caution!</h4>
  DO NOT scroll to the bottom, or bad things will happen.
</div>
<div style="height: 2400px;"></div>
<p>
    <button class="btn btn-danger">
        WARNING: Clicking this button will DESTROY the whole universe!
    </button>
</p>