<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

  <connectionStrings>
    <add name="SaimoeContext" connectionString="metadata=res://*/Models.EF.Saimoe.csdl|res://*/Models.EF.Saimoe.ssdl|res://*/Models.EF.Saimoe.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MAMAMIYA-PC\SQLEXPRESS;initial catalog=Saimoe;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
