<connectionStrings>
  <add name="SaimoeContext" connectionString="metadata=res://*/Models.Saimoe.csdl|res://*/Models.Saimoe.ssdl|res://*/Models.Saimoe.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MAMAMIYA-PC\SQLEXPRESS;initial catalog=Saimoe;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>