@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<a href="Admin/Export">Export Contestants </a>

<form method="post" enctype="multipart/form-data">
    <input type="file" name="file" id="file" />

    <input type="submit" />
</form>
